@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@500&display=swap');

body{
    background-color:rgb(25, 25, 25);
    display:flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}

div{
    background-color:rgb(16, 16, 16);
    color:rgb(221, 221, 221);
    font-family:rubik;
    font-size:35px;
    padding:25px;
    border-radius:10px;
}


input{
    height:40px;
    width:320px;
    color:white;
    font-family:rubik;
    font-size:23px;
    border-radius:10px;
    border:3px solid rgb(66, 219, 66);
    background-color:grey;
    outline:none;
}

button{
    background-color:rgb(66, 219, 66);
    font-family:rubik;
    font-size:20px;
    width:330px;
    height:30px;
    border-radius:10px;
    cursor:pointer
}

#p1{
    color:white;
}